#egitim {
    margin-left: 50px;
    color: blue;
}
#uni{
    margin-left: 80px;
    font-size: x-large;
}
#gen{
    font-size: x-large;
    margin-left: 100px;
}
i{
    text-align: center;
    margin-left: 500px;
    font-size: xx-large;
}